SoundBlossomer.xcodeproj/project.xcworkspace/xcshareddata/SoundBlossomer.xccheckout
SoundBlossomer.xcodeproj/project.xcworkspace/xcuserdata/luca.xcuserdatad/WorkspaceSettings.xcsettings
SoundBlossomer.xcodeproj/xcuserdata/luca.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
